.gradient {
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    #101f35,
    #050e1c
  );
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    #081a35,
    #020b19
  );
  z-index: -1;
  transition: opacity 0.5s ease-in;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  .gradient {
    background-image: linear-gradient(
      to bottom right,
      #75b8ef,
      #5797cc
    );
  }

  .gradient::before {
    background-image: linear-gradient(
      to bottom right,
      #4ca2e8,
      #3287cc
    );
  }
}