.gradient {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    #08382a,
    #0b281b
  );
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    #08382a,
    #0b281b
  );
  z-index: -1;
  transition: opacity 0.5s ease-in;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  .gradient {
    background-image: linear-gradient(
      to bottom,
      #67efaf,
      #59c693
    );
  }

  .gradient::before {
    background-image: linear-gradient(
      to bottom,
      #67efaf,
      #59c693
    );
  }
}